*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: sans-serif;
}

.app{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}